#cabecalho {
    width: 95%;
    padding: 50px 5%;
    background-color: darkred;
    text-align: center;
}
body {
    margin-left: 20px;
    text-align: center;  
    background-color: #E1DCDB;
    background-image: url(modelo-de-fundo-vermelho-com-padroes-de-onda_1308-36899.jpg)
}
#Page {
    margin-left: 15%;
    margin-right: 15%;
    font-family: sans-serif; 
    background-color: #E1DCDB;
    border-style:double;
    height: 1690px;
}
h1 {
    font-size: 55px;
    color: red;
}

.mySlides {
    display:none;
    
}

.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}

.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}

nav {
  list-style-type: none;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;

}

li {
  float: left; 

  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E1DCDB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  background-color: red;
}

.active1 {
    background-color: red;
  }

#rodape {
    width: 96%;
    padding: 10px 2%;
    background-color: #888888;
    color: white;
    text-align: center;
    display: inline-block;
}

h2 {
    font-size: 100px;
    color: red;
}

p {
    font-size: 20px;
    margin: 15px;
}

p1 {
    font-size: 25px;
    margin: 15px;
}
:root{
    --default-width: 100%;
}

#container-sides{
    width: 90%;
    height: 150%;
    display: flex;
    max-width: var;
    margin: 10px auto;
}

.left-side, .right-side{
    width: 50%;
    opacity: 0.7;
    position: relative;
    transition: width 1.5s, opacity 1.5s;
}

.right-side{ margin: 0 0 0 5px; }

.left-side img, .right-side img{
    width: var(--default-width);
    height: var(--default-width);
}

.right-side:hover, .left-side:hover{
    opacity: 1;
    width: 70%;
    cursor: pointer;
}

.left-side:hover .title-category, 
.right-side:hover .title-category{
    opacity: 1;
}

.title-category {
    z-index: 1;
    position: absolute;
    top: 50%;
    width: var(--default-width);
    opacity: 0.4;
    color: #fff;
    text-align: center;
    transition: width 1.5s, opacity 1.5s;
    font-size: 25px;
    color: black;
}

#Descricao {
    border-style: solid;
    margin-left: 52%;
    margin-right: 1.5%;
    
}

#Image img {
    margin-top: 21.5px;
    margin-left: 1%;
    
}

.formulario{
    width: 480px;
    padding: 1px;
    border:3px solid red;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
    margin-left: auto
}
.field{
    width: 95%;
    margin: 10px 0;
}
.field label,
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
input[type=phonenum],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
}
textarea{
    line-height: 20px;
    padding: 0px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: red;
    height: 35px;
    border:1px solid #000;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 1 auto;
    text-align: center;
    border-radius: 200px;
}
.Produto_Esquerda:hover{
    transform: scale(1.1);
}
.Produto_Esquerda {
    height: 550px;
    width: 580px;
    border: 2px solid;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
    display: block;
    float: left;
}
.Produto_Direita:hover{
    transform: scale(1.1);
}
.Produto_Direita {
    height: 550px;
    width: 580px;
    border: 2px solid;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 35px;
    margin-right: 50px;
    margin-top: -21px;
    display: block;
    float: right;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto; 
}
.grid-container > div{
    text-align: center;
    
}
</style>

</head>